@import "../../styles/variables.scss";

.Help{
  margin-top: 100px;
}
.Title {
  text-align: center;
}

.ProcessImages {
  display: flex;
  flex-direction: column;
}
.ProcessRow1,
.ProcessRow2 {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
}
.Process, .ProcessG {
  width: 25%;
  // background-color: aqua;
  height: 500px;
  text-align: center;
}
.caption {
  width: 100%;
  font-size: 24px;
  font-family: "Overpass", sans-serif;
  color: $secondary-color;
}
.Stitle1{
  display: none;
}
@media only screen and (max-width: 480px){
  .Help{
    margin-top: 100px;
  }
  .Title{
    text-align: -webkit-center;
  }
  .Btitle1{
    display: none;
  }
  .Stitle1{
    display: block;
  }
  .ProcessRow1{
    flex-direction: column;
  }
  .ProcessRow2{
    flex-direction: column;
  }
  .ProcessG{
    display: none;
  }
  .Process{
    width: 100%;
  }
  .caption{
    width: 80%;
    margin: auto;
  }
}