@import "../../styles/variables.scss";

.heading{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 20px 0px;
}
.Content{
    margin: 20px;
}
.subheading{
    margin: 10px 0px;
    font-size: 28px;
}
.subContent{
    margin: 15px 0px;
    font-size: 20px;
    line-height: 26px;
}