@import "../../styles/variables.scss";
.Navbar {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.NavbarLogo {
  width: 30%;
}
.Navbar_list {
  width: 60%;
  height: 80px;
  align-self: center;
}
.list {
  list-style: none;
  // width: 50%;
  display: flex;
  flex-direction: row;
  // text-align: right;
  //   justify-content: space-evenly;
}
.nav_links {
  width: 100%;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  font-family: "Lora", serif;
}
@media only screen and (max-width: 480px){
  .Navbar{
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .NavbarLogo{
    margin-top: 10px;
  }
  .Logo{
    width: 90%;
    height: 90px;
  }
  .Navbar_list{
    width: 90%;
  }
  // .list{
  //   display: none;
  // }
  .nav_links{
    font-size: 14px;
  }
}