@import "../../styles/variables.scss";
.Navbar {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.NavbarLogo {
  margin-top: 10px;
  width: 30%;
}
.Navbar_list {
  width: 60%;
  height: 80px;
  align-self: center;
}
.list {
  list-style: none;
  // width: 50%;
  display: flex;
  flex-direction: row;
  // text-align: right;
  //   justify-content: space-evenly;
}
.nav_links {
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  font-family: "Lora", serif;
  
    
}
.a{
  background-image: linear-gradient(to right, $font-color, $font-color 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
/* Media query for phone view (max-width: 767px) */
@media (max-width: 767px) {
  .Navbar{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .NavbarLogo{
    width: 100%;
    margin-top: 10px;
  }
  .Logo{
    // width: 100%;
    width: 70%;
    height: 80px;
  }
  .Navbar_list{
    display: none;
    width: 90%;
  }
  // .list{
  //   display: none;
  // }
  .nav_links{
    font-size: 14px;
  }
}
/* Media query for tablet view (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .Navbar {
  
      text-align: center;
      justify-content: center;
      align-items: center;
  
    }
  
    .NavbarLogo {
      width: 100%;
      margin-top: 10px;
    }
  
    .Logo {
      // width: 100%;
      height: 90px;
    }
  
    .Navbar_list {
      display: none;
      width: 90%;
    }
  
    // .list{
    //   display: none;
    // }
    .nav_links {
      font-size: 14px;
    }
}