@import "../../styles/variables.scss";

.HomeBg {
  background-image: url("../imgs/Background.png");
  background-size: contain;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $primary-color;
}
.homeCol1, .homeCol3 {
  width: 25%;
  //   background-color: aqua;
}
.homeCol2{
width: 40%;
margin-top: 100px;
}
.btnSection {
  display: flex;
  flex-direction: row;
  width: 95%;
justify-content: space-between;
  text-align: center;
}
.AppLink {
  border-radius: 20px;
  border: none;
  background-color: $secondary-color;
  color: #ffff;
  font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 800;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
justify-content: center;
width: 45%;
}
.STagline{
  display: none;
}
@media screen and (max-width: 991px) {

}

@media only screen and (max-width: 480px){
  .BTagline{
    display: none;
  }
  .STagline{
    display: block;
  }
.HomeBg{
  flex-direction: column-reverse;
  .homeCol1{
    display: none;
  }
}
.btnSection{
  flex-direction: column;
  flex: 1;
  align-items: center ;


}
.homeCol2{
  width: 80%;
  margin: auto;
}
.Tagline{
  margin-top: 10px;
}
.AppLink{
  width: 80%;
  font-size: 14px;
  margin-top: 10px;
  // padding: 10px;
}
.appIcon{
  width: 100%;
    width: 20%;
      height: 50px;
}
.Banner{
  width: 100%;
}
.BannerImg{
  // width: 0%;
  height: 350px;
}
}