@import "../../styles/variables.scss";
.ReviewData{
    width: 100%;
    height: 250px;
}

.reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // flex-direction: column;
    // gap: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    // background-color: $primary-color;
    width: 260px;
    height: 230px;
    border: 1px solid black;
    box-sizing: border-box ;
    margin: 80px;
    padding-left: 10px;
    padding-right: 10px;
}  
.img{

    padding-left: 20px;
    position: absolute;
}
.ScreenImg{
    padding-left: 20px;
}
.reviewername{
    padding-left: 60px;
    padding-top: 0px;
    color: black;
}
.rname{
    padding-top: 15px;
    padding-left: 20px;    
}
.rtitle{
    // text-align: center;
    position: relative ;
    justify-content: center;
    padding-left: 50px;
    width: 125px;
}