@import "../../styles/variables.scss";

.main_footer{
    width: 100%;
    height: 250px;
    background-color: $third-color;
    
}
.row{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  
}

.footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left:30%;
    right: 30%;
    border-top: 1px solid white;
    // padding-top: 12px;
    // padding-bottom: 12px;
  
        
      
} 
.footer_list{
    padding-left: 0px;
    list-style: none;
}
.li{
    padding: 7px;
}
.footer_title{
margin-top: 30px;
margin-bottom: 20px;
font-size: 24px;
line-height: 24px;
font-weight: 900;
}

.btn_link{
    border:none;
    background-color: $third-color;
    margin: 0px 50px;
}

.a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.a:hover{
    color: $primary-color;
}

.social_media{
    justify-content: center;
}

.media{
    // display: inline-block;
    margin: 10px;
}

.download_btn{
    margin-top: 40px;
    flex-direction: column;
    gap:6px;
}
.app_store {
    display: flex;
    width: 100%;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
    h2 {
      color: white;
    }
  }
  .play_store {
    display: flex;
    width: 100%;  
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
    h2 {
      color: white;
    }
  }