@import "../../styles/variables.scss";

.main_footer{
    width: 100%;
    // height: 250px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    
}
.row{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  
}

.footer_bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
 
    border-top: 1px solid black;
    
} 
.petaraa{
object-fit: cover;

}
.li{
    // padding: 7px;
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    // width: 50%;
    text-align: left;
}
.footer_title{
margin-top: 30px;
margin-bottom: 20px;
font-size: 28px;
line-height: 24px;
font-weight: 800;
font-family: 'Lora', serif;
}

.btn_link{
    border:none;
    background-color: $primary-color;
    margin: 15px 50px;
}

.a{
    text-decoration: none;
    font-size: 20px;
    color: $font-color ;
    font-family: 'Overpass', sans-serif;
}

.a:hover{
    color: $third-color ;
}

.social_media{
    justify-content: center;
}

.media{
    // display: inline-block;
    margin: 10px;
}

.download_btn{
    margin-top: 40px;
    flex-direction: column;
    gap:6px;
}
.app_store {
    display: flex;
    width: 80%;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    justify-content: center;
    margin: 10px;
    h2 {
      color: white;
    }
  }
  .play_store {
    text-align:center ;
    justify-content: center;
    display: flex;
    width: 80%;  
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
    h2 {
      color: white;
    }
  }
  .col{
    width: 20%;
    margin-top: 25px;
    align-self: center;

    // text-align: center;
  }
@media screen and (max-width: 991px){
    .row{
        flex-direction: column;
        width: 100%;
    }
    .col{
        width: 100%;
    }
    .footer_bottom{
        flex-direction: column;
    }
     .btn_link{
        margin-top: 1px;
    }

    .play_store, .app_store{
        width: 30%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 20px;
    }

}
  @media only screen and (max-width: 480px){
    .row{
        flex-direction: column;
    }
    .footer_bottom{
        flex-direction: column;
    }
    .col{
        text-align: center;
        width: 100%;
    }
    .play_store, .app_store{
        width: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .btn_link{
        margin: 5px 0px;
    }
  }