@import "../../styles/variables.scss";
.OurMission{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 150px;
}
.Mission, .MissionImg{
    width: 50%;
    text-align: center;
    align-items: center;
}
.MissionSection{
    margin: auto;
    width: 70%;
    font-size: 26px;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: $secondary-color;

}
.MissionContent{
    margin: 30px 0px;
}
.Stitle2{
    display: none;
}
@media only screen and (max-width: 480px){
    .Mission{
        width: 100%;

        text-align: center;
    }
    .OurMission{
        flex-direction: column;
    }
   .MissionSection{
    // flex-direction: column;
    // order: 1;
    font-size: 16px;
    margin-top: 5px;
   } 
   .Btitle2{
    display: none;
   }
   .Stitle2{
    display: block;
    margin: auto;
   }
   .MissionImg{
    width: 100%;
    
   }
   .OurMission{
    width: 100%;
    margin-top: 5px;
   }
}