@import "../../styles/variables.scss";

.Container1, .ContainerL{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 10% 0%;
}
.abtusInfo{
    font-size: 26px;
        font-family: 'Lora', serif;
}
.rightContainer{
    width: 20%;
margin: 10% 0%;
}
.ImgContainer{
    width: 25%;
    margin: 20px 0px;
}
.textContainer{
    width: 70%;
    margin: 20px 0px;
    align-self: center;
    font-size: 26px;
    font-family: 'Lora', serif;
}
.textImg{
    position: relative;
}
.image{

}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    text-align: center;
    // background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Life Savers', cursive;
    font-weight: 900;
    font-size: 50px;
}
.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0%;
}
.getintouch{
    width: 30%;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: $secondary-color;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Lora', serif;
    font-weight: 900;
    color: #fff;
}
.touchdetail{
    font-size: 24px;
    font-family: 'Lora', serif;
    font-weight: 500;
    width: 80%;
    margin: 30px 0px;
    text-align: center;
}
.conclusion{
    margin-top: 100px;
    font-size: 24px;
        font-family: 'Lora', serif;
        font-weight: 500;
        text-align: center;
}
/* Media query for phone view (max-width: 767px) */
@media (max-width: 767px) {
    .Container1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .ContainerL{
        flex-direction: column;
        align-items: center;
    }
    .rightContainer{
        width: 100%;
        text-align: center;
    }
    .leftContainer{
        width: 90%;
        text-align: center;
    }
    .AbtUstTitle{
        width: 100%;
    }
    // .text{
    //     transform: translate(0%, -50%);
    // }
    .textContainer{
        width: 90%;
        text-align: center;
    }
    .abtusInfo{
        text-align: center;
    }
    .ImgContainer{
        width: 90%;
        text-align: center;
    }
    .getintouch{
        width: 80%;
        color: #6A8CAF;
        background-color: #fff;
    }
    .socialLinks{
      
       
             justify-content: space-evenly;
            width: 90%;
            display: flex;
            
            text-align: center;
            
    }
}
/* Media query for tablet view (min-width: 768px) and (max-width: 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .leftContainer{
        width: 50%;
        align-items: center;
        .abtusInfo{
            font-size: 22px;
            text-align: center;
        }
    }
    .rightContainer{
        width: 40%;
    }
    .ContainerL{
        .ImgContainer{
            width: 40%;
        }
        .textContainer{
            width: 50%;
            font-size: 22px;
            text-align: center;
        }
    }
    .textContainer{
        width: 50%;
        font-size: 22px;
        text-align: center;
    }
    .ImgContainer{
        width: 40%;
    }
    .getintouch{
        width: 50%;
        background-color: #fff;
        color: #6A8CAF;
    }
    .touchdetail{
        font-size: 22px;
    }
    .conclusion{
        font-size: 22px;
    }
}