@import url("https://fonts.googleapis.com/css2?family=Averia+Libre&family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Libre&family=Lora:wght@500&family=Overpass:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Lora:wght@500&family=Orelega+One&family=Overpass:wght@500&display=swap');


$primary-color: #e9fef5;
$secondary-color: #6a8caf;
$third-color: #75b79e;
$font-color: #2F5547;

//font-family: 'Lora', serif;
//font-family: 'Overpass', sans-serif;
// font-family: 'Orelega One',
// cursive;